<h2>Soal 1: Penggabungan Data</h2>

- Sebutkan perbedaan antara full outer join, inner join, dan left join

Jawab:  

*   Full outer join adalah union set, menggabungkan semua info pada columns tertentu yang ada pada data frame pertama **atau** data frame kedua.
*   Inner join adalah intersection set, menggabungkan info hanya jika entry pada columns yang diinginkan ada pada data frame pertama **dan** data frame kedua.
* Left join adalah menggabungkan info columns hanya yang ada pada data frame pertama (left)

<h2>Soal 2: Penggabungan Data</h2>

Pada quiz no 2 ini gunakan data [names1881.csv](https://drive.google.com/uc?export=download&id=1Pwu3cv93hI79jmi52kJ05xhophknDKat) dan [names1981.csv](https://drive.google.com/uc?export=download&id=1pvsGaybr423hJXcN35e5nS3sg4ha4jo3), data ini berisi nama bayi yang lahir pada tahun 1881 atau 1981 di Amerika.

- Baca data tersebut dengan memberikan nama column 'Name', 'Gender', 'Count'.
- Tunjukan jumlah dimensi dari data 'names1881.csv' dan 'names1981.csv'
- Gabungkan kedua data tersebut berdasarkan sumbu baris
- Tunjukan jumlah dimensi dari data setelah di gabungkan.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

file1881 = '/content/drive/My Drive/Sanbercode/names1881.csv'
file1981 = '/content/drive/My Drive/Sanbercode/names1981.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
# read data
df1 = pd.read_csv(file1881, names=['Name', 'Gender', 'Count'])
df2 = pd.read_csv(file1981, names=['Name', 'Gender', 'Count'])

# periksa dimensi dari kedua data
print("Jumlah Dimensi data 'names1881.csv' :")
print(df1.shape)
print("Jumlah Baris data 'names1981.csv' :")
print(df2.shape)

Jumlah Dimensi data 'names1881.csv' :
(1935, 3)
Jumlah Baris data 'names1981.csv' :
(19455, 3)

In [ ]:
# gabungkan data
df = pd.concat([df1, df2])
df

            Name Gender  Count
0           Mary      F   6919
1           Anna      F   2698
2           Emma      F   2034
3      Elizabeth      F   1852
4       Margaret      F   1658
...          ...    ...    ...
19450   Zeferino      M      5
19451    Zerrick      M      5
19452   Zimbabwe      M      5
19453     Zoltan      M      5
19454     Zuriel      M      5

[21390 rows x 3 columns]

In [ ]:
# periksa dimensi data hasil gabungan
print("Jumlah dimensi data setelah penggabungan : ")
df.shape

Jumlah dimensi data setelah penggabungan :

(21390, 3)

Expected Result: 

Jumlah Dimensi data 'names1881.csv': 

(1935, 3)

Jumlah Baris data 'names1981.csv':

(19455, 3)

![alt text](https://drive.google.com/uc?id=1jMCAdLrcJubjufydZBnzdQkYqDS3Klat)

Jumlah dimensi data setelah penggabungan : 

(21390, 3)

<h2>Soal 3: Penggabungan Data</h2>

Lakukan jenis penggabungan data full outer join, inner join, left outer join dan right outer join pada kedua data berikut:

In [ ]:
import pandas as pd

data1 = {
    'id' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'id' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
df1

   id Feature1 Feature2
0   1       a1       b1
1   2       a2       b2
2   3       a3       b3
3   4       a4       b4

In [ ]:
df2

   id Feature3
0   3       c1
1   4       c2
2   5       c3
3   6       c4
4   7       c5

In [ ]:
# join data
df_outer_join = pd.merge(df1, df2, how='outer')
df_outer_join

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2
4   5      NaN      NaN       c3
5   6      NaN      NaN       c4
6   7      NaN      NaN       c5

In [ ]:
df_inner_join = pd.merge(df1, df2, how='inner')
df_inner_join

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2

In [ ]:
df_left_join = pd.merge(df1, df2, how='left')
df_left_join

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2

In [ ]:
df_right_join = pd.merge(df1, df2, how='right')
df_right_join

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2
2   5      NaN      NaN       c3
3   6      NaN      NaN       c4
4   7      NaN      NaN       c5

Expected Result:

![alt text](https://drive.google.com/uc?id=1kUpkzWh3Y-X_1H1QXHiccdHf4YjqXsDu)

![alt text](https://drive.google.com/uc?id=1ojoAC2oX9P3ZHl0lS3RXipd7gShLOmmC)

![alt text](https://drive.google.com/uc?id=12jDnQzIosn6dizVwl2nPMX1IhhyEZ4FA)

![alt text](https://drive.google.com/uc?id=11znqscNsVZ-cHY-PPgoHEBDWyc6XRtAL)

<h2>Soal 4: Penggabungan Data berbeda label column Key</h2>

Lakukan jenis penggabungan inner join untuk 2 data yang memiliki nama column key yang berbeda ini:

In [ ]:
data1 = {
    'key_data1' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'key_data2' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
df1

   key_data1 Feature1 Feature2
0          1       a1       b1
1          2       a2       b2
2          3       a3       b3
3          4       a4       b4

In [ ]:
df2

   key_data2 Feature3
0          3       c1
1          4       c2
2          5       c3
3          6       c4
4          7       c5

In [ ]:
# Gabungkan kedua data tersebut
df_gabung = pd.merge(df1, df2, left_on='key_data1', right_on='key_data2', how='inner')

df_gabung

   key_data1 Feature1 Feature2  key_data2 Feature3
0          3       a3       b3          3       c1
1          4       a4       b4          4       c2

Expected Result:

![alt text](https://drive.google.com/uc?id=1uBiVOPnqns4al88FDc0ENIeTzIxP4wxH)